*{
	margin: 0;
	padding: 0;
}

#popap {
	width: 550px;
	height: 600px;
	top: 50%; 
	left: 50%;
	border-radius: 4px;
	position: fixed;
	background: url(../img/loginbg.jpg) no-repeat 0 0 transparent;
	background-size: 100% auto ;
	z-index: 1000;
	margin-left: -300px;
	margin-top: -200px;  
	display: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	position: fixed; 
}
.form {

	width:50%;
	height: 300px;
	margin: auto;
		margin-top: 10%;
}

#label {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600px;
	margin-left: 5%;


}

#login,
#password {
	width: 150px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid black;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#login,
#password:hover{
cursor: text;
}

.formlogin {
width: 212px;
margin: auto;

}
.formpassword {
	padding-top: 5%;
	width: 212px;
	margin: auto;
}

.but{
	margin: auto;
	display: block;
	width: 150px;
	margin-top: 5%
}

.but button {
	width: 150px;
	height: 30px;
	background: #ffffff url(../img/loginpeople.png) no-repeat 0 0 ;
 	background-size: contain;
 	border-radius: 5px;
 		font-family: Arial, sans-serif;
 		font-size: 15px;
 		font-weight: 600;
 		border: 2px solid #ffffff ;

}

.but button:hover { 
	border: 2px solid grey ;
	color: grey;
	cursor: pointer
}
.forgetpas {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: grey;
	float: right;
	clear: both;
	margin-top: 20px;
	margin-right: 10%;
}

.forgetpas:hover {
	color: #ffffff;
	cursor: help;	
}
.hr {
/*	width: 100%;
	margin-top: 50px;*/
	    margin-top: 50px;
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

.logwithfb {
	display: inline-block;
	background:  url(../img/fblogin.png) no-repeat 0 0 ;
 	background-size: contain;
 	width: 200px;
 	height: 25px;
 	border-radius: 5px;
 	margin-top: 10%;
}

#close_popap {
	width: 20px;
	height: 20px;
	background: url(../img/close.png);
	background-size: contain;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
}

#overlay {
	background: #000;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	opacity: 0.5;
	display: none;
}