*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.header {
	  height: 160px;
	  width: 100%;
	
	  background: black;
	  background-size: contain;
	 
}

.header__content{
	 height: 150px;
	 width: 100%;
}

.header__logo{
	width: 10%;
	height: 150px;
	margin-left: 10%;
	
}

.header__logo a {
	display: inline-block;		
	height: 150px;
	width: 135px;

	background: url(../img/logoo.png) no-repeat 0 0 ;
	background-size: contain;
 	float: right;
	}

.header__text {
	font-family: 'Marck Script', cursive;
	color: #ffffff;
	float: right;
	font-size: 30px;

	margin-top: -10%;
	margin-right: 40%;
}

.header__text--h {
	font-size: 52px;
	font-family: 'Ruslan Display', cursive;
	color: #ffffff;
	float: right;
	text-align: center;
	margin-top: -5%;
	margin-right: 40%;
}

.security {
	float: right;
	width: 25px;
	height: 30px;

	margin-right: 2%;
	margin-top: -9%;
}

#security__button {
 	width: 100%;
 	height: 100%;
 	background: url(../img/enter.png) no-repeat 0 0 ;
 	background-size: contain;
 	cursor: pointer;
 	border: none;
}

 #navigation {
 	width: 100%;
 	height: 60px;
 }

 .menu {
 	width: 80%;
 	height: 100%;
 	margin: auto;
 	background: rgba(255,255,255, 0.4);
 	list-style: none;
	
 	border-radius: 10px;
 }

 .menu__list {
 	display: inline-block;
 	width: 16%;
 	height: 100%;
 	text-align: center;

 }

 .menu__item {
 	display: inline-block;
 	width: 100%;
 	height: 100%;
 	text-decoration: none;
 }

 .menu__item p {
 	margin-top: 12%;
 	font-family: 'Underdog', cursive;
 	font-weight: 600;
 	color: black;
  }

  .submenu{
  	display: none;
    position: absolute;
    width: 16%;
    top: 220px;
    left: 468px;
    margin: 0;
		background: red;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;


  }

.submenu li {
    display: block;
 	width: 100%;
 	height: 40px;
 	text-align: center;
    }

.submenu li a {
    width: 100%;
 	height: 100%;
    }
   
.submenu li a p {
     	margin-top: 12%;
     	font-family: 'Underdog', cursive;
 	font-weight: 600;
 	color: black;
     }


 .menu__list:hover > .submenu {
 	display: block;
 }

.ldog-img {
	width: 100px;
	height: 50px;
	float: left;

	margin-top: -53px;
    margin-left: 2%;
}

.rdog-img{
	width: 100px;
	height: 50px;
	float: right;

	margin-top: -53px;
    margin-right: 2%;
}

.body__for__maps{
  width: 100%;
	background: white;
	height: 400px;
}

.left__body__maps{
	width: 50%;
	height: 100%;
	float: left;
}

.map{
	margin-top: 15px;
	margin-left: 90px;
}

.right__body__maps{
	width: 50%;
	height: 100%;
	float: left;
}

.fio{
	margin-top: 100px;
	margin-left: 50px;
	
}

.mobile{
	margin-top: 50px;
	margin-left: 50px;
	
}

.mail{
	margin-top: 50px;
	margin-left: 50px;
}

.button__confirm{
	width: 90px;
	margin-top: 50px;
	margin-left: 300px;
}

.button__confirm__posit{
	font-family: 'Underdog', cursive;
}

#label{
	
	float: left;
}

#label p{
	font-family: 'Underdog', cursive;
	color: black;
}

#fio__posit{
	margin-left: 150px; 
}

#mobile__posit{
	margin-left: 19px;
}

#mail__posit{
	margin-left: 146px;
}

.footer {
	  height: 200px;
	  width: 100%;
	
	  background: black;
}

.footer__content{
	float: left;
	height: 100%;
	width: 100%;
}

.footer__fraza{
	height: 100px;
	width: 500px;
	color: white;
	margin: 52px;
	
	text-align: center;
	font-size: 25px;
	font-family: 'Marck Script', cursive;
	
}

.footer__phone{
	float: right;
	margin-top: -125px;
	margin-right: 125px;
	
	color: white;
	text-align: center;
	font-size: 25px;
	font-family: 'Ruslan Display', cursive;
}