* {
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}

/*HEADER*/


.header {
	  height: 650px;
	  width: 100%;
	
	  background: url(../img/hbg.jpg) no-repeat 0 0 transparent;
	  background-size: contain;
	  background-size: 100% 700px;
}

.header__content{
	 width: 100%;
	 height: 100%;
	 background: rgba(0,0,0, 0.4);
}

.security {
	float: right;
	width: 25px;
	height: 30px;

	margin-right: 2%;
	margin-top: 2%;
}

#security__button {
 	width: 100%;
 	height: 100%;
 	background: url(../img/enter.png) no-repeat 0 0 ;
 	background-size: contain;
 	cursor: pointer;
 	border: none;
}

.header__logo {
	height: 250px;
	width: 400px;
	float: right;
	margin-right: 10%;
	margin-top: 3%;
		clear: both;

}


.header__logo a {
	display: inline-block;	
	display: inline; /*Для IE*/	
	height: 250px;
	width: 250px;

	background: url(../img/logoo.png) no-repeat 0 0 ;
	background-size: contain;
 	float: right;
	}

.header__text {
	font-family: 'Marck Script', cursive;
	color: #ffffff;
	float: right;
	font-size: 30px;

	margin-top: 5%;
}

.header__text--h {
	font-size: 52px;
	font-family: 'Ruslan Display', cursive;
	color: #ffffff;
	float: right;
	text-align: center;
	margin-top: 5%;
}

 /*END OF HEADER*/

 /*MENU*/

 #navigation {
 	width: 100%;
 	height: 60px;
 }

 .menu {
 	width: 80%;
 	height: 100%;
 	margin: auto;
 	background: rgba(255,255,255, 0.4);
 	list-style: none;
 	border-radius: 10px;
 }

 .menu__list {
 	display: inline-block;
 	width: 16%;
 	height: 100%;
 	text-align: center;

 }

 .menu__item {
 	display: inline-block;
 	width: 100%;
 	height: 100%;
 		text-decoration: none;
 }

 .menu__item p {
 	margin-top: 12%;
 	font-family: 'Underdog', cursive;
 	font-weight: 600;
 	color: black;
  }

  .submenu{
  	display: none;
    position: absolute;
    width: 16%;
    top: 710px;
    left: 465px;
    margin: 0;
    background: red;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

  }

.submenu li {
    display: block;
 	width: 100%;
 	height: 40px;
 	text-align: center;
    }

.submenu li a {
    width: 100%;
 	height: 100%;
    }
   
.submenu li a p {
     	margin-top: 12%;
     	font-family: 'Underdog', cursive;
 	font-weight: 600;
 	color: black;
     }


 .menu__list:hover > .submenu {
 	display: block;
 }

.ldog-img {
	width: 100px;
	height: 50px;
	float: left;

	margin-top: -53px;
    margin-left: 2%;
}

.rdog-img{
	width: 100px;
	height: 50px;
	float: right;

	margin-top: -53px;
    margin-right: 2%;
}




/******/

.main {
	height: 500px;
}
.sidebar {
	border-right: solid;
	border-bottom: solid;
	border-bottom-right-radius: 5px; 
	height: 500px;
	width: 19%;
	float: left;
	background: #fff;
}

.sidebar__menu{
	display: block;
	margin-top: 15%;
	margin-left: 8%;
  height: 30px;
	width: 90%;
}

.sidebar__menu--list{
	display: block;
  text-align: center;
	margin-bottom: 4%; 
	list-style: none;
	border: solid;
}

.sidebar__menu--item{
	display: inline-block;
 	width: 100%;
 	height: 100%;
 	text-decoration: none;
}

.sidebar__menu--item p{
	padding-bottom: 5px;
	font-family: 'Underdog', cursive;
	color: black;
	font-size: 20px;
}

.reklama {
	border-left: solid;
	border-bottom: solid;
	border-bottom-left-radius: 5px;
	height: 500px;
	width: 20.5%;
	float: right;
	background: ;
}

.reklama__vulkan{
	margin: 25%;
	float: right;
	width: 50%;
	height: 25%;
}

.vulkan__button{
	width: 100%;
 	height: 100%;
 	background: url(../img/vulcan.jpg) no-repeat 0 0 ;
 	background-size: contain;

 	border: none;
}

.vulkan__text{
  padding: 15px;
	color: black;
}

.reklama__joycasino{
	margin: 25%;
	float: right;
	width: 50%;
	height: 20%;
}

.joycasino__button{
	width: 100%;
 	height: 100%;
 	background: url(../img/joycasino.png) no-repeat 0 0 ;
 	background-size: contain;

 	border: none;
}

.joycasino__text{
  margin: 13px;
	color: black;
}

.text_for_video{
	width: 75px;
	font-family: 'Underdog', cursive;
	font-size: 30px;
	border-bottom: solid;
	margin-left: 375px;
	margin-top: 60px;
}
.video {
	height: 500px;
	width: 60%;
	display:	inline-block;
	background: whitesmoke;
	clear: right;
}

.video__position{
	margin-left: 140px;
	margin-top: 50px;
}

 



 

.sponsors {
	width: 100%;
	height: 180px;
	background: linear-gradient(to bottom, #ffffff,#b8b8b8);
}
.sponscontainer {
	width: 50%;
	height: 180px;
}
hr {
    border: none;
    color: grey;
    background-color: grey;
    height: 1px;
}
.sponsors__img {
   margin-top: 23px;
    margin-left: 20%;
}

/*FOOTER*/

.footer {
	  height: 700px;
	  width: 100%;
	
	  background: url(../img/fbg.jpg) no-repeat 0 0 transparent;
	  background-size: contain;
	  background-size: 100% 700px;
}


.footer__content {
 	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.4);
}

.footer__logo {
	height: 150px;
	height: 150px;
	display: block;
	margin-top: -68px;
    margin-left: 43%;
	position: absolute;
	   
}

.footer__logo:hover {
	transform: rotate(-30deg);
	webkit-transition: all .25s ease-in-out; 
	transition: all .25s ease-in-out; 
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
}

.footer__phone {
  height: 30px;
	width: 50%;
	float: left;
	
	margin-top: 15%;
	margin-left: 30%;
	text-align: center;
	color: #fff;
	font-size: 25px ;
	font-family: 'Ruslan Display', cursive;
}

.footer__fraza{
	padding-top: 15%;
	margin-left: 6%;
	height: 250px;
	width: 460px;
	
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-family: 'Marck Script', cursive;
}
